{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}Each and every member of the team has strived hard and worked relentlessly to contribute some or the other way to the development of the project. The duties of each and every person was split up and delegated with atmost thought. The team members, in all their glory, were involved in project ideation and development, project design, Outreach, HP and iHP{% endblock %}
{% block bnrurl %}https://static.igem.wiki/teams/4509/wiki/banners/attributions.jpeg{% endblock %}
{% block page_content %}
<style>
  .title{
    color: rgb(225, 241, 0);
    font-family: 'MontserratBoldItalic';
  }
  h4{
    text-align: justify;
    text-justify: inter-word;
  }
</style>

<div class="bd-callout bd-callout-info">
  <h2>Overview</h2>
  <p>iGEM is a true team sport that extends beyond students tackling laboratory
    apparatus, equations, and computation, and connecting web mails to the
    pronounced community of researchers, professors, colleagues, and neighbours. The
    iGEM REC-CHENNAI team is very grateful for the support and advice that were
    given to us throughout the 2022 spell. We would also like to thank everyone inside
    and outside the testing ground who assisted us to deliver Project Curlim to the 2022
    
    Grand Jamboree!!!</p>
</div>
<div class="container"><div class="container"><hr></div></div>
<div>
  <h4>Project Curlim Investigators</h4>
  <p>
      DR. GAYATHRI VIJAYAKUMAR: Dr Gayathri is the Primary Investigator (PI) of iGEM REC-CHENNAI
      2022. She has aided us since the ideation stage, finding solutions to problems that have arisen during our
      project scaling work. She has actively assisted us with our orders and ensured that we received all the
      necessary components. <br><br>

      DR. JAYASREE HAREENDRAN: Dr Jayasree is the Secondary PI of team iGEM REC Chennai 2022. She
      guided us in the brainstorming process and urged us to think about the underlying plot and the bigger
      picture of our idea. She also encouraged us to prepare a list of specific tasks to be completed and to think
      about what we could reasonably do over the period.
  </p>

  <br>

  <h4>Project Curlim Instructors</h4>
  <p>
    DR. SATHYA K: Dr. Sathya furnished us with valuable suggestions on reactor design and supported us in
    making improvements during our project implementation. <br><br>

    PROF. SHREENIDHI K S: Professor Shreenidhi offered a broad view in genetic engineering, assisted us in
    establishing the theme for our project, and patiently reminded us of our commitments.
  </p>

  <br>

  <h4>The Team Behind Curlim!</h4>
  <p>
    MARIE JYOTSNA JAWAHAR (Team Lead) - Project Administration, Led Project Conceptualization and
Foundational Assessment, Part analysis and registry, iGEM Regulation Analysis, Wet Lab and Interacted with Experts
& other iGEM teams. <br><br>

VISHAL AMITH KANNAN (Team Lead) - Project Administration, Led Wiki Studies alongside Graphic Design,
Maintenance of Timeline, Wet Lab Assistance and Project Investigation Team. <br><br>

NETHRA L - Social Media Analysis and Account Handler, Assistance with Protocols, Led surveys, Responsible for
Poster, In charge of science communication, Trip and Housing. <br><br>

RHEA HARRY WILLIAM - Co-Lead of Project Conceptualization, In Charge of Part Registry, Wet Lab, Project
Reflection, Expert Interaction and Led Modelling [TO BE SPECIFIED] <br><br>

VIBHA MURALI - Lead of Project Investigation, Modelling [TO BE SPECIFIED], Project Reflection, Part Registry,
Wet Lab, and Part Analyst of Team Curlim. <br><br>

AVENDHIKA RAJA - Public Engagement, Wiki Content Editor and Part of Wiki studies, Trip and Housing In charge
and Co- Lead iGEM Regulation Analysis. <br><br>

A ANUKAVITHA - Construction of Parts (PART NAME1 and 2) – Vector Cloning, Assisted with Entrepreneurship,
With Wiki Development, and Human Practices Plan & Creative Head. <br><br>

GRIDDALURU VINEETHA NAIDU - Responsible for Maintaining MoM’s, Team Bio Brick Assembly, Lab Assistance. <br><br>

PARINITHA K - Construction of Part (PART NAME 3) – Vector Cloning, Wet Lab, Analysed and Drafted Safety
Regulations and Experimental Design, Lab Maintenance, and Assisted with Entrepreneurship. <br><br>

PONTIANA RITIKA C - Assistance in Data Curation, Background Research Analysis, Reactor Hardware Design, Part
Validation, Wet Lab, Responsible for Project Promotion & Visualization and Video Lead. <br><br>

MOHAMMED ASLAM - Chemical Analysis, Assistance with Protocol, HP Assistance, Developing Industrial Models,
Safety Regulation Analysis and Wet Lab Lead. <br><br>

MOHAMMED JASSIM - Responsible for Wet lab Safety & Collecting Experimental Data, Wet Lab Experiments
Peer-Reviewed Research Articles and Lab Maintenance. <br><br>

ABHITHA K.V - Team Bio Brick Assembly, Assistance in Part Construction, Industrial Reactor Designing, Outreach
Lead and Managing Bills. <br><br>

THUHIN KHANNA R - Responsible for Wiki Design and Development, Constructed Presentation and
Communication Materials, Curcoli Game Developer. <br><br>

SURAJ N - Responsible for Wiki Coding, Graphic Designing and Video Support, Curcoli game developer. <br><br>

VARUN RISHWANDH S - Curcoli Game Developer, Wiki study's contributor, Assisted with Wiki Development
and Video Support.
  </p>

  <br>

  <h4>Project Mentors</h4>
  <p>
    DR. DURAIMURUGAN N from the Department of Computer Science and Engineering, REC was a major mentor in
    the Development of the Curlim Wiki Page and the Curcoli Game. <br><br>

    PADMASHREE B is a current Post Graduate student at the Department who mentors the team on Reactor
    Designing. <br><br>

    POOJA S, HARIKUMAR PADMARAJA, and VARSHINY GOPINATH are the institutions' former iGEM team
    members who extended their Helping hands to the 2022 team in Areas such as Briefing iGEM Regulations, and Major
    contributions to Project Conceptualization, Project Investigation, Providing E. coli Strains, and Conducting
    Brainstorming Sessions.
  </p>
</div>

<br>

<h4><u>NOTE</u></h4>
<p>All the team members provided outstanding support and contributions in all the HP and outreach programs that were organised.
Our team is also extremely thankful to the management of Rajalakshmi engineering college who constantly provided us with all the help and support our team needed.
iGEM-REC Chennai team is also thankful to our principal investigator Dr. V. Gayathri, secondary principal investigator Dr. R. Jayasree, our team instructor Ms. K.S. Shreenidhi and our advisors Dr. K. Sathya and Dr. N. Duraimurugan, who provided our team with all the support, advice and care.
</p>
{% endblock %}
