{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block bnrurl %}https://static.igem.wiki/teams/4509/wiki/banners/attributions.jpeg{% endblock %}
{% block page_content %}
<style>
  .title{
    color: #7e5366;
    font-family: 'LucidaUnicode';
  }
  h3{
    text-align: justify;
    text-justify: inter-word;
    color: #7e5366;
    font-family: 'LucidaUnicode';
    margin-bottom: 5%;
  }
</style>

<div class="bd-callout bd-callout-info">
  <h2>Overview</h2>
  <p>iGEM is a true team sport that extends beyond students tackling laboratory
    apparatus, equations, and computation, and connecting web mails to the
    pronounced community of researchers, professors, colleagues, and neighbours. The
    iGEM REC-CHENNAI team is very grateful for the support and advice that were
    given to us throughout the 2022 spell. We would also like to thank everyone inside
    and outside the testing ground who assisted us to deliver Project Curlim to the 2022
    
    Grand Jamboree!!!</p>
</div>
<div class="container"><div class="container"><hr></div></div>
<div>
  <h3>Project Curlim Investigators</h3>
  <p>
      <h6 class = "lead">DR. GAYATHRI VIJAYAKUMAR:</h6> Dr Gayathri is the Primary PI of iGEM REC-CHENNAI
      2022. She has aided us since the ideation stage, finding solutions to problems that have arisen during our
      project scaling work. She has actively assisted us with our orders and ensured that we received all the
      necessary components. <br><br>

      <h6 class ="lead">DR. JAYASREE HAREENDRAN:</h6>
      Dr Jayasree is the Secondary PI of team iGEM REC Chennai 2022. She
      guided us in the brainstorming process and urged us to think about the underlying plot and the bigger
      picture of our idea. She also encouraged us to prepare a list of specific tasks to be completed and to think
      about what we could reasonably do over the period.
  </p>

  <br>

  <h3>Project Curlim Instructors</h3>
  <p>
    <h6 class ="lead" style="font-weight:700">DR. SATHYA K: </h6>
    Dr. Sathya furnished us with valuable suggestions on reactor design and supported us in
    making improvements during our project implementation. <br><br>

    <h6 class ="lead" style="font-weight:700">PROF. SHREENIDHI K S: </h6> 
    Professor Shreenidhi offered a broad view in genetic engineering, assisted us in
    establishing the theme for our project, and patiently reminded us of our commitments.
  </p>

  <br>

  <h3>The Team Behind Curlim!</h3>
  <p>
    <h6 class ="lead" style="font-weight:700">MARIE JYOTSNA JAWAHAR (Team Lead):</h6>
    Project Administration, Led Project Conceptualization and
Foundational Assessment, Part analysis and registry, iGEM Regulation Analysis, Wet Lab and Interacted with Experts
& other iGEM teams. <br><br>

<h6 class ="lead" style="font-weight:700">VISHAL AMITH KANNAN (Team Lead):</h6> 
 Project Administration, Led Wiki Studies alongside Graphic Design,
Maintenance of Timeline, Wet Lab Assistance and Project Investigation Team. <br><br>

<h6 class ="lead" style="font-weight:700">NETHRA L: </h6>
 Social Media Analysis and Account Handler, Assistance with Protocols, Led surveys, Responsible for
Poster, In charge of science communication, Wet Lab assistance, Reactor team, Trip and Housing. <br><br>

<h6 class ="lead" style="font-weight:700">RHEA HARRY WILLIAM:</h6> 
 Co-Lead of Project Conceptualization, In Charge of Part Registry, Wet Lab, Project
Reflection, Expert Interaction and Led Modelling (Mathematical and Computational modelling) <br><br>

<h6 class ="lead" style="font-weight:700">VIBHA MURALI:</h6>
 Lead of Project Investigation, Modelling (Mathematical and Computational modelling), Project Reflection, Part Registry,
Wet Lab, and Part Analyst of Project Curlim. <br><br>

<h6 class ="lead" style="font-weight:700">AVENDHIKA RAJA:</h6> 
Public Engagement, Wiki Content Editor and Part of Wiki studies
and Co- Lead iGEM Regulation Analysis. <br><br>

<h6 class ="lead" style="font-weight:700">A ANUKAVITHA:</h6>
Construction of Parts - Vector Cloning, Assisted with Entrepreneurship,
With Wiki Development, and Human Practices Plan & Creative Head. <br><br>

<h6 class ="lead" style="font-weight:700">GRIDDALURU VINEETHA NAIDU: </h6>
Responsible for Maintaining MoM's, Team Bio Brick Assembly, Lab Assistance. <br><br>

<h6 class ="lead" style="font-weight:700">PARINITHA K:</h6>
 Construction of Part - Vector Cloning, Wet Lab, Analysed and Drafted Safety
Regulations and Experimental Design, Lab Maintenance, and Assisted with Entrepreneurship. <br><br>

<h6 class ="lead" style="font-weight:700">PONTIANA RITIKA C:</h6>
 Assistance in Data Curation, Background Research Analysis, Reactor Hardware Design, Part
Validation, Wet Lab, Responsible for Project Promotion & Visualization and Video Lead. <br><br>

<h6 class ="lead" style="font-weight:700">MOHAMMED ASLAM:</h6> 
 Chemical Analysis, Assistance with Protocol, HP Assistance, Developing Industrial Models,
Safety Regulation Analysis and Wet Lab Lead. <br><br>

<h6 class ="lead" style="font-weight:700">MOHAMMED JASSIM: </h6>
 Responsible for Wet lab Safety & Collecting Experimental Data, Wet Lab Experiments
Peer-Reviewed Research Articles and Lab Maintenance. <br><br>

<h6 class ="lead" style="font-weight:700">ABHITHA K.V:</h6> 
 Team Bio Brick Assembly, Assistance in Part Construction, Industrial Reactor Designing, Outreach
Lead, Creative content writing and Managing Bills. <br><br>

<h6 class ="lead" style="font-weight:700">THUHIN KHANNA R:</h6>
Responsible for Wiki Design and Development, Constructed Presentation and
Communication Materials, Curcoli Game Developer. <br><br>

<h6 class ="lead" style="font-weight:700">SURAJ N:</h6>
 Responsible for Wiki Coding, Graphic Designing and Video Support, Curcoli game developer. <br><br>

 <h6 class ="lead" style="font-weight:700">VARUN RISHWANDH S:</h6> 
Curcoli Game Developer, Wiki study's contributor, Assisted with Wiki Development
and Video Support.
  </p>

  <br>

  <h3>Project Mentors</h3>
  <p>
    <span style="font-weight: 700;">DR. DURAIMURUGAN N</span> from the Department of Computer Science and Engineering, REC was a major mentor in
    the Development of the Curlim Wiki Page and the Curcoli Game. <br><br>

    <span style="font-weight: 700;">PADMASHREE B</span> is a current Post Graduate student at the Department who mentors the team on Reactor
    Designing. <br><br>

    <span style="font-weight: 700;">POOJA S</span>, <span style="font-weight: 700;">HARIKUMAR PADMARAJA</span>, and <span style="font-weight: 700;">VARSHINY GOPINATH</span> are the institutions' former iGEM team
    members who extended their Helping hands to the 2022 team in Areas such as Briefing iGEM Regulations, and Major
    contributions to Project Conceptualization, Project Investigation, Providing E. coli Strains, and Conducting
    Brainstorming Sessions.
  </p>
</div>

<br>

<div class="bd-callout bd-callout-info">
  <h2>MORE SPECIFICALLY, WE'D LIKE TO THANK!</h2>
  <hr>
  <h3 class="mb-2">General Support</h3>
  <p>
    Our Deepest Gratitude to <a href="https://www.rajalakshmi.org/">Rajalakshmi Engineering College's</a> Chairperson, Principal, and the Management. <br><br>
    We are thankful for the assistance and support provided by our advisors in managing the Team, the Project, and the Experiments. <br><br>
    We thank the <a href="https://www.rajalakshmi.org/dept-biotech-intro.php" target="_blank">Department of Biotechnology</a>, Rajalakshmi Engineering College for supporting and encouraging Project Curlim to participate in and represent at the
    Grand Jamboree 2022. A special thanks to the most respected HOD, DEAN, Academic Heads, and Faculty Members from the Department of Biotechnology, REC.<br><br>
    We thank the <a href = "https://www.rajalakshmi.org/dept-cse-intro.php" target="_blank">Department of Computer Science</a>, Rajalakshmi Engineering College for supporting and encouraging Project Curlim with Wiki page. A special thanks to the most respected HOD. <br> <br>
  </p>

  <h3 class="mb-2">Strain Support</h3>
  <p>
    We extend our gratitude towards Sathyabhama University for supplying <i>E.coli</i> DH5 (Alpha) for the team's wet lab work. <br><br>
    We would like to thank IIT Madras for providing <i>E.coli</i> DH5 (Alpha) strain and <i>E.coli</i> K12 strain.
  </p>
  <h3 class="mb-2">Project Consultation & Advice</h3>
  <p>
    We would like to thank Dr. Venkat Nancharaiah of the WSCD, BARC Facilities in Kalpakkam for providing the Team REC Chennai 2022 with a unique outlook on Reactor Construction. We would also like to thank Dr Kiran Kumar Reddy for advice on optimum maintenance of biofilm.
    <br><br>
    Thanks to Dr. B. Anandan, Assistant Professor at Madras University's Tharamani Campus, for providing us with constructive feedback on the environmental and
    reactor conditions to consider, along with his advice on Enzyme Kinetics.
    <br><br>
    Our heartfelt special thanks to Ms. Madalynn Thompson, a Ph.D. student at Dalhousie University in Halifax, Nova Scotia, Canada, for her assistance with the Project Criteria Standpoint.
    <br><br>
   <a href="https://www.linkedin.com/in/dr-mullai-venthan-selvam-19863713a/"> Dr. S. Mullai Venthan Selvam</a>, Assistant Professor, Department of Mathematics, REC, was instrumental in the development of Mathematical Computation and Equations.
    <br><br>
    We would like to thank Mr. Vijay Bhoopalan for advice on plasmid expression
    <br><br>
    We would like to thank the faculty members from the Department of Biotechnology, REC for advising the team on a variety of matters.
    <br><br>
    Assistant Professor <a href="https://www.linkedin.com/in/saravanan-periasamy-8816381b">Dr. P. Saravanan</a> instructed the team on the variable circumstance requisite for the E. coli Biofilms.
    <br><br>
    Assistant Professor <a href="https://www.linkedin.com/in/arun-arumugaperumal-44806813a">Dr. Arun Arumugaperumal</a> instructed the team regarding molecular overexpression of a targeted gene.
    <br><br>
    <a href="https://www.linkedin.com/in/dr-anitha-thulasi-54170bb9">Dr. T. Anitha</a>, Associate Professor, and <a href="https://www.linkedin.com/in/anila-ashly-ab124612b">Dr. R. Anila</a>, Associate Professor, prescribed the team on Reactor design elements.
    <br><br>
    <a href="https://www.linkedin.com/in/saranya-arunkumar-59789386">Ms. S. R. Saranya ArunKumar</a>, Assistant Professor, recommended certain transformation techniques.
  </p>
  <h3 class="mb-2">Financial Assistance</h3>
  <p>
    We would like to thank the REC Management for their support with the Registration Fees for this competition.
  </p>
  <h3 class="mb-2">Collaboration & Technique Aid</h3>
  <p>
    Thanks to Various iGEM Teams of 2022 who Collaborated with Team Curlim. <br><br>
    Thanks to Deepak Kumar, iGEM REC Alumni.
    <br><br>
    We also thank the UG Students from REC:
    Poornima N, Department of Biotechnology, REC, for Connecting with Madalynn Thompson from Dalhousie University, Halifax, Nova Scotia, Canada
    ; Krithickraj, Department of Biotechnology, REC - Wave of Ideas Hp: Photographer 
    <br><br>
    Promotion Video Attribution: Voice over Artist - Leonard and Rohith
  </p>
  <h3 class="mb-2">Lab Assistance</h3>
  <p>
    Thanks to REC Management for providing us with the necessary supplies.
    <br><br>
    We are grateful to the Department of Biotechnology, REC for providing the experiment platform, supplies, and tools.
    <br><br>
    We would like to express our appreciation to Medox Biotech India Pvt. Ltd, Twist Bioscience, New England BioLabs Inc., Integrated DNA Technologies IDT, Karthik
    Chemical Industries, and Eppendorf India Pvt. Ltd for helping us with our laboratory equipment needs.
    <br><br>
    We acknowledge the Department Firm's Lab Technicians' aid in carrying out our experimental procedures and providing the laboratory equipment.
    <br><br>
    We would like to thank <a href="https://www.hetrogenebiotech.com/">HetroGene Biotech</a> for providing us with additional biosafety training.
  </p>
  <h3 class="mb-2">Human Practice Support</h3>
  <p>
    Wave of Ideas: Tamil Nadu Government, Greater Chennai Corporation, Commissioner of Police- Chennai, Deputy Commissioner of Police- Adyar, Chennai. <br>
    Location: Edward Elliot's Beach
    <br><br>
    Volunteers from Department of Biotechnology, REC: Jayashree, Jebisha Jose, Priyanga, Ram kumar, Rooshini, Saikumar, Jothimurugan, Kadhiravan, Krithik
    Ragunath, Mukesh Karthik, Naresh, Naveenkumar, Sai Sandhya Sree and Saranya
    <br><br>
    Human Practice in Educational Institutions: We would like to express our gratitude to the Management, Staff, and Members of the Educational Foundations of
    SBOA School and Junior College, Sacred Heart Matric. Hr, Sec. School and Bhavans Rajaji Vidyashram CBSE School for allowing us to interact with students for the following HP's The SynBio Connect, Enlighting yound minds and The DNAwesome Talk.
  </p>
</div>

<hr>

<div>
  <h2>SPONSORS</h2>
  <div class="container p-4" style="background-color: #ffffff;">
    <center>
    <img class="img p-2" style="width: 300px;" src="https://static.igem.wiki/teams/4509/wiki/sponsors/bench.png">
    <img class="img p-2" style="width: 300px;" src="https://static.igem.wiki/teams/4509/wiki/sponsors/math.jpg">
    <img class="img p-2" style="width: 300px;" src="https://static.igem.wiki/teams/4509/wiki/sponsors/sponsor.png">
    <img class="img p-2" style="width: 300px;" src="https://static.igem.wiki/teams/4509/wiki/sponsors/rajalakshmi.png">
    <img class="img p-2" style="width: 300px;" src="https://static.igem.wiki/teams/4509/wiki/sponsors/twist.png">
    <img class="img p-2" style="width: 300px;" src="https://static.igem.wiki/teams/4509/wiki/sponsors/medox.jpg">
    <img class="img p-2" style="width: 300px;" src="https://static.igem.wiki/teams/4509/wiki/sponsors/idt.png">
    </center>
  </div>
</div>

<br>
<hr>

<div>
  <h2>TEAM BUILDING AND PROJECT LAUNCH</h2>
  <p>
    We are a group of undergraduates from Rajalakshmi Engineering College who are currently enrolled in the 4-year B.Tech. Biotechnology program. Synthetic biology is
    one of the key areas that our institution offers alongside other subjects.
    <br><br>
    The foundation for the team was laid during Spring 2022, through a series of selection processes, interviews, and talks from former iGEM teams on the project
    proposal and competition requirements.
    <br><br>
    We began brainstorming in March of this year, generating conceptual plans for the project. The arrangement of precise tasks and scheduling began in the Summer of

2022, accompanied by the Wet-lab experiment.
  </p>
</div>
{% endblock %}
