{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}Each and every member of the team has strived hard and worked relentlessly to contribute some or the other way to the development of the project. The duties of each and every person was split up and delegated with atmost thought. The team members, in all their glory, were involved in project ideation and development, project design, Outreach, HP and iHP{% endblock %}

{% block page_content %}
<style>
  .title{
    color: rgb(53, 180, 123);
    font-family: 'MontserratBoldItalic';
  }
  h4{
    text-align: justify;
    text-justify: inter-word;
  }
</style>
<div class="header">
  <h1 class="title">Marie Jyotsna Jawahar</h1>
  <h4>From taking the initiative, right from the start, to lead and drive the team, Marie is involved in all the aspects of this project. She is meticulously involved in the planning and detailing of the finest and tiniest things in our project. Marie truly is the Jack of all Trades!</h4>
</div>
<div class="header">
  <h1 class="title">Vishal Amith Kannan</h1>
  <h4>Vishal is involved in almost all of the wet lab work and has been the support system for the team. From working in the lab to troubleshooting, he is the go-to person in the team.</h4>
</div>
<div class="header">
  <h1 class="title">Nethra L.</h1>
  <h4>Nethra is the head of social media. Her primary role is to look after the social media websites and reaching out to people. Apart from this, she is in charge of designing the protocols for our experiments and is actively involved in the wet lab work.</h4>
</div>
<div class="header">
  <h1 class="title">Rhea Harry William</h1>
  <h4>From finding the loopholes in the project to pushing the team to come up with all sorts of possible solutions, Rhea has provided us with unwavering support throughout this project. She is responsible for choosing the right plasmid and heading the plasmid assembly team along with that was also involved in the dry lab work.</h4>
</div>
<div class="header">
  <h1 class="title">Vibha Murali</h1>
  <h4>The one thing that stands out about Vibha is her ability to keep calm. She took up the humongous task in helping the team out with part validation systems and she is a part of the plasmid assembly team. She simultaneously helped the team out with her meaningful contributions in the dry lab work.</h4>
</div>
<div class="header">
  <h1 class="title">Avendhika Raja</h1>
  <h4>Avendhika is the editor for the wiki page and apart from this, she is associated with the examination of Cadmium and its interaction with acid phosphatase enzyme and provides the team with the needed data and a firm helping hand.</h4>
</div>
<div class="header">
  <h1 class="title">Anukavitha A.</h1>
  <h4>Anukavitha is the creative head of our project. She is involved with the designing and construction of our plasmid while simultaneously helping the team out with our part validation and assay validation tests.</h4>
</div>
<div class="header">
  <h1 class="title">Griddaluru Vineetha Naidu</h1>
  <h4>Vineetha is the member in our team who keeps tab and looks after the accounting and financial aspects. Taking up initiative to solve problems is Vineetha strongest suit. She heads the bio brick assembly team and also provides meaningful contribution to the assay validation and plasmid design team.</h4>
</div>
<div class="header">
  <h1 class="title">Parinitha K.</h1>
  <h4>You can never hear a no from Parinitha. From taking up the responsibility to keep pushing the team and giving us all the reminders that we require to complete deadlines, to giving us relevant and important information regarding the bio-brick assembly. She keeps supporting the team.</h4>
</div>
<div class="header">
  <h1 class="title">Pontiana Ritika C.</h1>
  <h4>Pontiana is an extremely artistic individual. Using her unique perspectives, she helped the team in creating a short and fun educational video and she is the one behind taking beautiful photos, videos and stills for our promo video. She provides exceptional support to the team by providing us the out-of the-box solutions needed when we encounter troubles.</h4>
</div>
<div class="header">
  <h1 class="title">Mohammed Aslam</h1>
  <h4>Aslam is the type of person who you can never find without a smile. And this super calmness of his is what made him the head of research committee. Taking up the task of reading copious amounts of research articles and streamlining the required accurate data is not an easy task, but this gentleman gave his all and got the job done.</h4>
</div>
<div class="header">
  <h1 class="title">Mohammed Jassim</h1>
  <h4>Jassim’s strength lies in management. From ensuring that no conflict arises whatsoever to also providing simple but tactical solutions in case problems, he is the manager that our team requires. This fine person is also a part of the research committee and helps the team out by getting all the additional information.</h4>
</div>
<div class="header">
  <h1 class="title">Abitha K.V.</h1>
  <h4>Abhitha’s primary role is keeping tab of the sponsorships and travel expenses. Her inquisitive and out-spoken nature helps all of us think deeper. She is a part of the bio-brick assembly team and has given us some meaningful contributions.</h4>
</div>
<div class="header">
  <h1 class="title">Thuhin Khanna R.</h1>
  <h4>Thuhin Khanna confidently leads the technical team. He is responsible for the setting up, assembling, designing and maintaining the wiki page.</h4>
</div>
<div class="header">
  <h1 class="title">Suraj N.</h1>
  <h4>Suraj is a proud member of the technical team. His role is to help the team out with the configuration and designing of the wiki page along with helping us get all our videos wonderfully put-together.</h4>
</div>
<div class="header">
  <h1 class="title">Varun Rishwandh S.</h1>
  <h4>Varun is a member of the technical team and he helped the team bring our game, Curcoli, to life. He constantly helps the team out by providing us inputs as to how we can improve in technical aspects.</h4>
</div>

<h3><u>NOTE</u></h3>
<br>
<h4>All the team members provided outstanding support and contributions in all the HP and outreach programs that were organised.
Our team is also extremely thankful to the management of Rajalakshmi engineering college who constantly provided us with all the help and support our team needed.
iGEM-REC Chennai team is also thankful to our principal investigator Dr. V. Gayathri, secondary principal investigator Dr. R. Jayasree, our team instructor Ms. K.S. Shreenidhi and our advisors Dr. K. Sathya and Dr. N. Duraimurugan, who provided our team with all the support, advice and care.
</h4>
{% endblock %}
