{% extends "layout.html" %}
  
{% block title %}Outreach{% endblock %}
{% block lead %}We had the opportunity to conduct outreach programs and connect with various people. The purpose of our outreach programs was to raise general awareness about the hazardous effects that arise from exposure to heavy metals. {% endblock %}
{% block bnrurl %}https://static.igem.wiki/teams/4509/wiki/banners/communication.jpeg{% endblock %}
{% block page_content %}

<style>
  .title{
    color: #7e5366;
    font-family: 'LucidaUnicode';
  }
  h4{
    text-align: justify;
    text-justify: inter-word;
  }
</style>

<div class="row">
  <div id="outreachCarousel" style="margin-left: 25%; margin-right: 25%" class="carousel slide rounded col-md-6" data-bs-ride="carousel">
    <div class="carousel-inner" style="margin-top: 10%;">
      <div class="carousel-item active">
        <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/curcoli.jpg" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/curcoli-1.jpg" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/curcoli-2.jpg" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/curcoli-3.jpg" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/curcoli-4.jpg" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/curcoli-5.jpg" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/beach.jpg" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/beach-1.jpg" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/beach-2.jpg" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/beach-3.jpg" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.igem.wiki/teams/4509/wiki/img-20221010-112950.jpg" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.igem.wiki/teams/4509/wiki/img-20221010-112904.jpg" class="d-block w-100 rounded" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#outreachCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#outreachCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br><br>

<div class="header">
  <h2 class="title">WAVE OF IDEAS - Edward Elliots beach, Besant Nagar</h2>
  <div class="row">
    <div class="col-md-6">
      <h4>
        iGEM REC Chennai team had the beautiful opportunity to organise an outreach program in Edwards Elliot beach,Chennai. Our team interacted with the general public by educating them about heavy metals, sources and their toxicity. The general public were allured by our stalls and what we had to say. They also took part in the games we had planned for them after listening to us. The game that we had curated was called “Tint in the Ball”. The concept behind this game is simple; throw the ball that we give you into any of the 4 baskets that were placed. These baskets had been assigned to one particular food item.    
      </h4>
    </div>
    <div class="col-md-6">
      <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/beach-3.jpg" style="width:100%; height:400px;" class="rounded"/>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/beach-1.jpg" style="width:100%; height:400px;" class="rounded"/>
    </div>
    <div class="col-md-6">
      <h4>
        The food options were carrots, chicken, fish and rice. You have to throw the ball into the basket within 2 turns. If you do so, you win and get an amazing bookmark that was designed and made by our very own creative team. Apart from this, we also enlightened the players about how heavy metals can impact the food chain and how that, in turn, can drastically affect our lives and the environment. We had the opportunity to interact with over 100+ people and let them know how they can possibly help keep this planet and themselves safe from long term exposure to heavy metals. 
      </h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h4 style="margin-top:4%;">
        We also conducted surveys to gauge information about the existing awareness of heavy metals among the general public. The survey was aimed at gathering information on various aspects pertaining to heavy metals and how the people are contributing to a safer and clean environment. This survey helped us understand that more than 70% of the people were not aware about heavy metals and how harmful they are, and the most worrying part was that people seemed shocked when they came to know about the various sources of heavy metals and how they can infiltrate our food chain. This survey was an eye-opener to us as it motivated us to keep spreading our concern and need for a safer and healthier life. 
      </h4>
    </div>
    <div class="col-md-6">
      <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/beach.jpg" style="width:100%; height:400px;" class="rounded"/>
    </div>
  </div>
</div>
<br><br>
<div class="header">
  <h2 class="title"> INNOVATIVE GAME LAUNCH- “CURCOLI”</h2>
  <div class="row">
    <div class="col-md-6">
      <h4 style="margin-top:7%;">
        Team iGEM REC Chennai had designed and crafted an enjoyable and entertaining mobile app game titled “Curcoli”. We organised an inter college Game launch event where all the students and professors belonging to various departments were invited and welcomed. This game holds a special place in our hearts as this was one of the earliest ideas proposed by the team that was brought to life. This game is designed to help people understand about some microorganisms that require attention.
      </h4>
    </div>
    <div class="col-md-6">
      <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/curcoli.jpg" style="width:100%; height:400px;" class="rounded"/>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <img src="https://static.igem.wiki/teams/4509/wiki/hppictures/curcoli-4.jpg" style="width:100%; height:400px;" class="rounded"/>
    </div>
    <div class="col-md-6">
      <h4 style="margin-top:7%;">
        This game also contains fun facts relevant to our project. 
This awareness session helped various students and professors understand the importance of our project and how using E.coli helps achieve our goals. This session also provided us with a platform to introduce our iGEM team for the year 2022, to our fellow students and professors
Life surely becomes more fun when you play games. So what are you waiting for? The link is right below, 1 click and you are in for the game of your life :)
Happy Gaming!        
      </h4>
    </div>
  </div>
</div>

{% endblock %}
