{% extends "layout.html" %}
  
{% block title %}Contribution{% endblock %}
{% block bnrurl %}https://static.igem.wiki/teams/4509/wiki/banners/contribution.jpeg{% endblock %}


{% block page_content %}


<h4>Overview</h4>
<p>
  Making a valuable contribution to future iGEM Teams has been our main impetus since the beginning  of our project. We benefited greatly from what our predecessors transcribed in their wiki, and we  have decided to do our best to be as useful to future generations of iGEM students as possible. 
</p>

<h4>Protein-Coding Sequence Modification</h4>

<p>
  The class B acid phosphatase enzyme coding sequence obtained from NCBI for the project was regrettably incompatible with the BioBrick RFC[10].
</p>
<center><img src="https://static.igem.wiki/teams/4509/wiki/before-opt.png" style="width:65%; height:500px;"/></center>
<div style="margin-top: 2em; margin-bottom: 1em; text-align: center;">Figure 1: Acid phosphatase(aphA) coding sequence</div>
<div style="margin-top: 1em; margin-bottom: 1em; text-align: center;"> When the sequence from NCBI is uploaded to the iGEM registry, it is evident that the sequence is not compatible with other Biobrick or iGEM standards except RFC[1000]</div>

<p>
  Therefore, we decided to troubleshoot this by removing the illegal restriction sites by inducing silent mutations by use of IDT's codon optimizing tool. As a result, the protein that is expressed would remain the same while enabling the sequence to comply with the iGEM assembly standard requirement.
</p>

<center><img src="https://static.igem.wiki/teams/4509/wiki/idt-tool.jpeg" style="width:65%; height:500px;"/></center>

<div style="margin-top: 2em; margin-bottom: 1em; text-align: center;">Figure 2: IDT Codon Optimizing Tool</div>
<div style="margin-top: 1em; margin-bottom: 1em; text-align: center;"> The figure indicates the illegal restriction sites present in the protein coding sequence</div>

<p>We removed all the illegal restriction sites for the protein-coding sequences of acid phosphatase to be compatible with the BioBrick RFC[10]. We believe that this contribution will make assembly more convenient and universal for future iGEM teams who plan on assembling or synthesizing acid phosphatase in a prokaryotic system.</p>

<center><img src="https://static.igem.wiki/teams/4509/wiki/after-opt.jpeg" style="width:65%; height:500px;"/></center>
<div style="margin-top: 2em; margin-bottom: 1em; text-align: center;">Figure 3: Optimized Acid Phosphatase(aphA) Sequence</div>
<div style="margin-top: 1em; margin-bottom: 1em; text-align: center;">The codon-optimized sequence is now compatible with the Biobrick or iGEM standards. </div>
<p>
  For more information, please visit our <a href="{{ url_for('parts') }}">parts </a> page!
</p>

{% endblock %}
