{% extends "layout.html" %}

{% block title %}Education{% endblock %}
{% block bnrurl %}https://static.igem.wiki/teams/4509/wiki/awards/model-education.jpeg{% endblock %}



{% block page_content %}

<div class="row">
  <div class="col-md-12">
    <h2>Scientific Communication</h2><hr>
    <h4 style="text-align: center;">“Education is an opportunity, which if used correctly, can change the world"</h4>
    <p>
      The topic chosen for this year's iGEM research by our team was one that was selected after lots of brainstorming sessions and holistic discussions.  A healthy sustainable environment is one of the most important factors that influenced our choice. The harmful and destructive threats that heavy metals pose is one that everyone should be vary about but a lot of people are not aware of the dangers cause by frequent exposure to heavy metals. To bridge this gap, our team decided to tackle the foremost issue; the awareness!
    </p>
    <p>
      Awareness through education can help enlighten young minds and hence began our journey to develop fun innovative tools and educational seminars!
    </p>
    <div class="row">
      <div class="col-md-6">
        <center><img src="https://static.igem.wiki/teams/4509/wiki/edu1.jpeg" style="width:100%; height:400px;"/></center>
      </div>
      <div class="col-md-6">
        <center><img src="https://static.igem.wiki/teams/4509/wiki/edu2.jpeg" style="width:100%; height:400px;"/></center>
      </div>
    </div>
    <h2>Communication with High School Students.</h2><hr>
    <p>
      The importance of Synthetic biology and genetic engineering was taught to high school students to help them understand the ground-breaking innovations that arose from these fields and how iGEM provides opportunities to young researches to contribute and develop solutions to solve problems in various vital fields. To take our purpose of educating young minds further, we decided to perform safe experiments that helped us engage with the students and show that fun and biology can go hand-in- hand.
    </p>
    <h2>Why did we do this?</h2><hr>
    <p>
      Education with action and innovation can help students understand the practical and real-life applications of what is being taught. Our aim was to inspire students and help them understand the fun and crucial elements that synthetic biology and genetic engineering can offer. Some of the experiments that we performed were:
    </p>
    <ol>
      <li>DNA Extraction using fruits.</li>
      <li>Understanding how food adulteration is being done and how one can detect the presence of MSG in their food by using ninhydrin solution.</li>
      <li>Method of handling pipettes by engaging students in a pipette art setting using color water.</li>
      <li>Microbiological lab experience by helping the students learn different streaking methods using color water.</li>
    </ol>
    <h2>Communication with People</h2><hr>
    <p>
      Helping the public realize about harmful effects to long term heavy metal exposure and how it affects us, the flora and fauna and the environment in whole has got to be one of the most holistic experiences. We had the opportunity to connect and engage with people and children.  From engaging children in fun but educational games to help them realize what heavy metals are and how harmful they can be to connecting with adults, in English and our mother tongue( Tamil) definitely helped us.
    </p>
    <h2>What are our goals?</h2><hr>
    <ul>
      <li>To open the fields of discussion about scope of synthetic biology and genetic engineering among students.</li>
      <li>To encourage students to come up with innovative solutions to problems in scientific fields.</li>
      <li>To raise awareness about the harmful effects of long term exposure to heavy metals like cadmium.</li>
      <li>To encourage people to speak more freely and advocate for helping raise further awareness.</li>
      <li>To spark curiosity about synthetic  biology and genetic engineering.</li>
      <li>To educate everyone regardless of age or gender.</li>
      <li>To bridge the gender gap in STEM.</li>
      <li>To freely communicate our idea to people and help them realize the right path towards sustainable and happy environment.</li>
    </ul>
    <h2>What impact did our work create?</h2><hr>
    <ul>
      <li>We introduced high school students to iGEM and encouraged them to participate in this competition in the future.</li>
      <li>We actively engaged with the our fellow college students and  people to educate them about the ill effects of heavy metals.</li>
      <li>We designed and created a bookmark and gave it to people in hopes of encouraging them to read more.</li>
      <li>We conducted surveys to understand the status of heavy metal awareness in our society.</li>
      <li>We interacted with students by allowing them to perform safe experiments in hopes of helping them understand how biology is not only interesting but also fun.</li>
    </ul>
  </div>
</div>

{% endblock %}