{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}{% endblock %}
{% block bnrurl %}https://static.igem.wiki/teams/4509/wiki/banners/implementation.jpeg{% endblock %}
{% block page_content %}

<h2>Design</h2><hr>
<p>The Curlim team envisions using MBBR in a 100 percent flow-through process, which means that the flow rate of the reactor's effluent and influent are the same. The gooseneck effluent piping maintains the water level in the reactor. The reactor will have specially created submerged freely moving bio media that will provide engineered bacteria biofilms enough of surface area to develop and thrive on. The media will be in numerous layers, which will make the MBBR exceptionally robust and self-regulating. A solid separation system will remove the metal precipitate further downstream.</p>
<br>
<center><img src="https://static.igem.wiki/teams/4509/wiki/figure-1-future-bioreactor-design.gif"/></center>
<br>
<p>To facilitate bacterial growth, oxygen will be introduced into the tank using blowers that send air through stainless steel aeration manifolds strategically placed inside the tank to ensure even coverage across the whole volume of the reactor and the necessary mixing for optimal treatment during the reactor's retention time.</p>

<h2>Construct</h2><hr>
<p>With the assistance of our internal faculties, we have been able to create detailed plans for where, how, and by whom our project can be implemented in the most effective way to increase consumer acceptance. As a result, accessibility and integration have been improved while cost and inconvenience have been reduced. Due to its low toxicity level and pathogenicity, the Lab Scale Bioreactor was designed with a flexible but efficient design, allowing small scale industries to effectively apply it for wastewater treatment. The MBBR can be used to remediate other heavy metals as well. Along with our metal of interest, Cadmium, acid phosphatase is known to bio precipitate other heavy metals such as Cobalt, Lead, and Ferrous. Our proposed solution is a cost-effective method of heavy metal removal due to its low energy consumption and material requirements. Finally, we used a literature review to ensure that we could be confident in our product's safety for future use.
</p>
{% endblock %}
