{% extends "layout.html" %}
  
{% block title %}Improvement of an Existing Part{% endblock %}
{% block lead %}    
“Once we accept our limits, we go beyond them.”
- Albert Einstein 
<p>There's always room for improvement. Team REC-CHENNAI took the initiative to improve an existing composite part with a new promoter that would reduce the burden in cells during a promoted expression of enzymes. This will eventually lessen cell death. We chose the composite parts BBa_K1291071 and BBa_K2229300 to perform our improvement studies. 
</p>
<b>Improvement of HRP expression:</b> 
The existing composite part BBa_K1291071 has a burden value of range -0.6 ± 11.0% with the promoter J23119. The improved part of team REC-CHENNAI has a constitutive promoter J23116 which reduces the cell burden and thereby demotes cell death, with a burden range of  -4.5  ±  2.8%.  The other 2 composite parts, BBa_4509569 and BBa_4509869 were made for comparison studies between all the below mentioned parts to get efficient results when compared and analysed. 

{% endblock %}

{% block page_content %}

<h4 style=" margin-bottom: 1em;">The existing part BBa_K1291071 has the following sub parts: </h4>

<div class="table-responsive-sm">
<table class="table table-hover table-responsive-sm">
  <thead>
    <tr class="col-property">
      <th scope="col" class="make-it-bolder col-color" >BioBrick ID</th>
      <th scope="col" class="make-it-bolder col-color">Name</th>
      <th scope="col" class="make-it-bolder col-color">Type</th>
      <th scope="col" class="make-it-bolder col-color">Length</th>
      <th scope="col" class="make-it-bolder col-color">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="make-it-normal"><a href = "http://parts.igem.org/Part:BBa_J23119" target="_blank">BBa_J23119</a></th>
      <td class="make-it-normal">Constitutive Promoter</td>
      <td class="make-it-normal">Regulatory</td>
      <td class = "text-nowrap make-it-normal">35 bp</td>
      <td class="px-4 make-it-normal">This promoter part can be used to tune the expression level of constitutively expressed parts.</td>
    </tr>
    <tr>
      <th scope="row" class="make-it-normal"><a href="http://parts.igem.org/Part:BBa_B0034" target="_blank">BBa_B0034</a></th>
      <td class="make-it-normal">Strong RBS</td>
      <td class="make-it-normal">RBS</td>
      <td class="make-it-normal">12 bp</td>
      <td class="px-4 make-it-normal">RNA sequence found in mRNA to which ribosomes can bind and initiate translation.</td>
    </tr>
    <tr>
      <th scope="row"><a href="http://parts.igem.org/Part:BBa_K1291571" target="_blank">BBa_K1291571</a></th>
      <td>HorseRadish Peroxidase Type C composite part</td>
      <td>Translational Unit</td>
      <td>1059 bp</td>
      <td class="px-4">To amplify a weak signal and increase detectability of a target molecule.</td>
    </tr>
  </tbody>
</table>
</div>

<h4 style = "margin-top: 5em; margin-bottom: 1em;">Improvement</h4>

<div class="table-responsive-sm">
  <table class="table table-hover table-responsive-sm">
    <thead>
      <tr class="col-property">
        <th scope="col" class="make-it-bolder col-color" >BioBrick ID</th>
        <th scope="col" class="make-it-bolder col-color">Name</th>
        <th scope="col" class="make-it-bolder col-color">Promoter</th>
        <th scope="col" class="make-it-bolder col-color">Length of Promoter</th>
        <th scope="col" class="make-it-bolder col-color">Burden Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="make-it-normal"><a href = "http://parts.igem.org/Part:BBa_K1291071" target="_blank">BBa_K1291071 (Existing)</a></th>
        <td class="make-it-normal">HorseRadish Peroxidase Type C composite part</td>
        <td class="make-it-normal">J23119</td>
        <td class = "text-nowrap make-it-normal">35 bp</td>
        <td class="px-4 make-it-normal">-0.6 ± 11.0%</td>
      </tr>
      <tr>
        <th scope="row" class="make-it-normal"><a href="http://parts.igem.org/Part:BBa_B0034" target="_blank">BBa_B0034</a></th>
        <td class="make-it-normal">Strong RBS</td>
        <td class="make-it-normal">RBS</td>
        <td class="make-it-normal">12 bp</td>
        <td class="px-4 make-it-normal">RNA sequence found in mRNA to which ribosomes can bind and initiate translation.</td>
      </tr>
      <tr>
        <th scope="row"><a href="http://parts.igem.org/Part:BBa_K1291571" target="_blank">BBa_K1291571</a></th>
        <td>HorseRadish Peroxidase Type C composite part</td>
        <td>Translational Unit</td>
        <td>1059 bp</td>
        <td class="px-4">To amplify a weak signal and increase detectability of a target molecule.</td>
      </tr>
    </tbody>
  </table>
  </div>





{% endblock %}
