{% extends "layout.html" %}
  
{% block title %}Diversity and Inclusion{% endblock %}
{% block bnrurl %}https://static.igem.wiki/teams/4509/wiki/awards/model-inclusivity.jpeg{% endblock %}

{% block page_content %}
<style>
  .listitem{
    font-size: large;
    margin-bottom: 2%;
    text-align: justify;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <h2>Overview</h2><hr>
    <p>Diversity and inclusivity are extremely important and are needed for the development of science that will result in a positive growth among the community. We, REC CHENNAI are committed to making our scientific space more open and inclusive to everyone and have always moved forward with the approach of creating a safe learning community where people are welcome.</p>
      <h2> Inclusivity and Diversity in the team</h2><hr>
        <ul>
          <li class="listitem">Our team comprises of 16 student members, 2 investigators, 2 instructors and 1 advisor and all of us come from various parts in Tamil Nadu and some of our members even belong to different states around India. We are team that has created a supportive learning safe where all members were treated with at-most respect and care. The team has always strived to create a space where respectful dialogue and constructive criticism are encouraged.</li>
          <li class="listitem">Everyone in this team has been given equal opportunities to try various aspects within the project that interest them. Our members were given the chance to get equipped to new skills and obtain different experience.</li>
          <li class="listitem">We held weekly meetings to update members of the progress. The minutes of the meeting were noted and sent to members in case they had to miss the meeting. We were respectful and mindful of everyone's schedule so the minutes of the meeting were always taken and members could easily catch up with the newly discussed information. It is extremely important to create a safe space where people could share their opinion and feel heard. Our team has strived hard to make sure everyone had the equal opportunities to voice out their thoughts.</li>
          <li class="listitem">At iGEM REC CHENNAI TEAM, we have immense respect for our members and had always referred to them by their preferred gender pronouns. We do this to create a safe welcoming community that is always inclusive.</li>
        </ul>
      <h2> Inclusivity and Diversity with regards to the project</h2><hr>
        <ul>
          <li class="listitem">In a recent study, women are still a minority and hold only 10% of executive positions in major biotechnology and Bioscience Company.  A recent survey conducted by San Francisco Business Times indicates that there exists a blatant sexism and glaring gender division when it comes to women holding executive positions. This sexism, if continues to exist, can impart a negative message and create further lack of diversity.  We, at iGEM REC Chennai are extremely proud to have our primary investigator and secondary investigator as women who are taking up the lead and are sending a strong message.  Out of 16 student members, 10 members are women. To ensure equal division of leadership, we have selected 1 female and 1 male member to be represented as our student leaders.</li>
          <li class="listitem">Our team had taken part in one of the initiatives that was brought up the IISER Tirupati iGEM 2022 team. We had taken part in their pride month initiative “String Science with Pride” and had contributed an article piece titled “Science is not meant to be straight”. </li>
          <li class="listitem">Another one of our contributions is a scientific post that holds regards towards the International Day of the world's Indigenous people. This was an initiative taken by the Queens University iGEM 2022 team and we are happy to have contributed a piece that highlighted the scientific work and innovations that were made possible by Dr. Jagadish Chandra Bose. The reason we choose Dr.Jagadish C.Bose was because of his invention “The Crescograph” which helped us study the heliotropic moments of plants. </li>
        </ul>
      <h2> Inclusivity and diversity with regards to the Human Practices</h2><hr>
        <ul>
          <li class="listitem">While planning our human practices, we wanted to ensure that our message is reached across a wide spread audience and hence we wanted to connect with different age groups.  We connected with high school students starting from grade 9 to grade 12. We were to able to communicate with high-school students and help them gain a better picture about synthetic biology and genetic engineering can help change the world.</li>
          <li class="listitem">With the help of our technical team we were able to curate a fun infotainment oriented game. The game “Curcoli” is aimed at educating public while having fun.  Anyone with a smart device can access the game.  This game can be accessed by both android and Iphone users.</li>
          <li class="listitem">We organized a beach outreach program titled “Waves of ideas” that aimed at spreading awareness about the toxic ill-effects that heavy metals can possess if exposed to longer durations. The highlight about this event is that this HP was meant to reach a wide range of audience. Starting from kids, where fun games where arranged to help them understand the concept of heavy metals and how harmful they are to meeting various adults where we had the opportunity to connect with them and explain our cause in both Tamil(our mother tongue) and English. If you won one of our games, a custom made bookmark that was curated by our team along with some delicious chocolates was handed out as gifts.</li>
        </ul>
    <h2>Next Steps!</h2><hr>
    <p>We hope to further continue with even more wide programs that aim to increase diversity, equality, equity and inclusivity. We are a team that aims to connect with more people and other researchers to expand our STEM community and support the values of representation of minorities and welcome them and their ideas, which will help them feel safe and inclusive. Science does not discriminate. There is no place for prejudice in science and technology, se team iGEM REC CHENNAI 2022 team plans to and definitely hopes to increase diversity. We are a team that wants to pay attention and makes everyone feel heard. Diversity is about embracing one’s uniqueness. The beauty of the world and science lies in its diversity.</p>
  </div>
</div>

{% endblock %}