{% extends "layout.html" %}

{% block title %}Meet CURLIM!{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col-md-6 offset-md-3">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/7-u4dG9B44Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<br>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-3 my-auto">
       <img class="img" style="width: 65%;" src="https://static.igem.wiki/teams/4509/wiki/why-ecoli.png">
    </div>
    <div class="col-md-8 mt-3" style="font-family: LucidaUnicode; font-size: larger; text-align: justify; text-justify: inter-word">
      <h3 style="text-align: left;">WHY?</h3>
      Project CURLIM is a passion project curated by Team REC-CHENNAI. The primary source of cadmium ion emissions is non-ferrous refineries. Additionally, it is a major component of alkaline batteries, metal plating, paints, and stabilizers used in the manufacture of plastics. It is highly destructive to biological life and  has a significant negative influence on terrestrial and marine ecosystems when dumped into water bodies.
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row justify-content-between">
    <div class="col-md-3 my-auto">
      <img class="img" style="width: 55%;" src="https://static.igem.wiki/teams/4509/wiki/how-ecoli.png">
    </div>
    <div class="col-md-8 mt-3" style="font-family: LucidaUnicode; font-size: larger; text-align: justify; text-justify: inter-word">
      <h3 style="text-align: left;">HOW?</h3>
      The conventional Cd(II) treatment processes such as ion exchange, adsorption techniques, solvent extraction, membrane filtration, chemical reduction and precipitation, adsorption on activated carbon, nanotechnology treatments, electrochemical removal, and advanced oxidation processes are expensive, power consuming and possess high material requirements. Bio precipitation is a novel method used for the sequestration of heavy metals with the endorsement of biologically active microorganisms in the treatment of effluents and wastewaters from industries. 
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row justify-content-between">
    <div class="col-md-3 my-auto">
      <img class="img" style="width: 75%;" src="https://static.igem.wiki/teams/4509/wiki/solution-ecoli.png">
    </div>
    <div class="col-md-8 mt-3" style="font-family: LucidaUnicode; font-size: larger; text-align: justify; text-justify: inter-word">
      <h3 style="text-align: left;">SOLUTION?</h3>
      We propose to design an E. coli K12 strain that is genetically modified to produce a biofilm with a suffused phosphatase enzyme. The acid phosphatase produced is dephosphorylated into phosphate monomers, which form phosphate-heavy metal complexes and precipitates. The bioprecipitation is carried out in a MBBR designed in the pilot scale by the team. 
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<br>

<div class="row">
  <h3>Here is our Promo Video to get you started on Project Curlim!</h3>
  <div class="col-md-6 offset-md-3">
    <iframe title="REC-CHENNAI: Curlim (2022) - Project Promotion [English]" src="https://video.igem.org/videos/embed/d9df0afb-53da-4a65-bb1e-644cbddfee59" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" width="100%" height="350px" frameborder="0"></iframe>
  </div>
</div>

<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width:100%">
        <img class="card-img-top" src="https://static.igem.wiki/teams/4509/wiki/banners/humanpractices.jpeg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Human Practices</h4>
          <p class="card-text">Some example text.</p>
          <a href="{{ url_for('pages', page='human-practices') }}" class="btn btn-primary">Go to HP</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width:100%">
        <img class="card-img-top" src="https://static.igem.wiki/teams/4509/wiki/banners/attributions.jpeg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Attributions</h4>
          <p class="card-text">Some example text.</p>
          <a href="{{ url_for('pages', page='attributions') }}" class="btn btn-primary">Go to Attributions</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width:100%">
        <img class="card-img-top" src="https://static.igem.wiki/teams/4509/wiki/banners/attributions.jpeg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Team</h4>
          <p class="card-text">Some example text.</p>
          <a href="{{ url_for('pages', page='team') }}" class="btn btn-primary">Meet the Team</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}
