{% extends "layout.html" %}

{% block title %}Meet CURLIM!{% endblock %}
{% block lead %}{% endblock %}
{% block bnrurl %}https://static.igem.wiki/teams/4509/wiki/banners/indexbanner.gif{% endblock %}
{% block page_content %}

<style>
  .container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 650px;
    margin: 25px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}

.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: #7e5366;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #FE0061,#FFEB3B);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}
</style>

<div class="container bg-white" style="width: 80%; border-radius: 20px;">
  <div class="row mt-4 mb-4">
    <div class="col-md-6">
      <img src="https://static.igem.wiki/teams/4509/wiki/notepad.svg" style="width: 50%; height:300px; margin-left: 45%;"/>
    </div>
    <div class="col-md-6">
      <h4 style="text-align: left; margin-top:10%; margin-right:30%;">According to recent research, drinking water samples from western Indian states had Cd contents that are greater than the permitted level established by the <a href="http://apps.who.int/iris/bitstream/handle/10665/44584/9789241548151_eng.pdf">World Health Organization (2011).</a></h4>
    </div>
  </div>
</div>

<div class="container bg-light p-4 mb-3">
  <img class="img img-fluid banner-img" style="width:100%; height:500px;" src="https://static.igem.wiki/teams/4509/wiki/home-page-extra.jpg">
</div>

<div class="container bg-dark p-4 mb-3">
  <div class="bg-light">
    <img src="https://static.igem.wiki/teams/4509/wiki/cadmium-map.png" style="width: 100%;"/>
  </div>
</div>

<div class="container bg-light p-4 mb-5">
  <center>
    <iframe width="100%" height="500px" title="REC-CHENNAI: animated video (2022) [English]" src="https://video.igem.org/videos/embed/2d47ef7e-6eba-4a2e-8209-4ceac3581a0e" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" frameborder="0"></iframe>
  </center>
</div>

<div class="m-5">

</div>

<br>

<div class="container row d-flex align-items-center justify-content-center flex-wrap pt-5 bg-light">
  <div class="box col-md-4">
      <div class="body">
          <div class="imgContainer">
              <img src="https://static.igem.wiki/teams/4509/wiki/why-ecoli.png" style="width: 100%; padding-top: 20px;">
          </div>
          <div class="content d-flex flex-column align-items-center justify-content-center">
              <div>
                  <h3 style="text-align: center;">We Have a Vision</h3>
                  <p class="fs-6 text-white">
                    Project CURLIM is a passion project curated by Team REC-CHENNAI. The primary source of cadmium ion emissions is non-ferrous refineries. Additionally, it is a major component of alkaline batteries, metal plating, paints, and stabilizers used in the manufacture of plastics. It is highly destructive to biological life and  has a significant negative influence on terrestrial and marine ecosystems when dumped into water bodies.
                  </p>
              </div>
          </div>
      </div>
  </div>
  <div class="box col-md-4">
      <div class="body">
          <div class="imgContainer">
              <img src="https://static.igem.wiki/teams/4509/wiki/how-ecoli.png" alt="">
          </div>
          <div class="content d-flex flex-column align-items-center justify-content-center">
              <div>

                  <h3 style="text-align: center;">Our Innovation</h3>
                  <p class="fs-6 text-white" style="text-align: center;">
                    Bio-precipitation is a revolutionary approach for heavy metal sequestration using biologically active microorganisms in the treatment of industrial effluents and wastewaters. <br><br><br>
                  </p>
              </div>
          </div>
      </div>
  </div>
  <div class="box col-md-4">
      <div class="body">
          <div class="imgContainer">
              <img src="https://static.igem.wiki/teams/4509/wiki/solution-ecoli.png" alt="">
          </div>
          <div class="content d-flex flex-column align-items-center justify-content-center">
              <div>
                  <h3 style="text-align: center;">Ideation</h3>
                  <p class="fs-6 text-white">
                    We propose to design an <i>E. coli</i> K12 strain that is genetically modified to produce a biofilm with a suffused phosphatase enzyme. The acid phosphatase produced is dephosphorylated into phosphate monomers, which form phosphate-heavy metal complexes and precipitates. The bioprecipitation is carried out in a MBBR designed in the pilot scale by the team.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>

<br>

<div class="container bg-light p-4">
  <h3>Here is our Promo Video to get you started on Project Curlim!</h3>
  <center>
    <iframe width="100%" height="500px" title="REC-CHENNAI: Curlim (2022) - Project Promotion [English]" src="https://video.igem.org/videos/embed/d9df0afb-53da-4a65-bb1e-644cbddfee59" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" frameborder="0"></iframe>
  </center>
</div>

<div class="container mt-4">
  <div class="bg-light p-3">
    <a href="{{ url_for('pages', page='engineering') }}">
      <img src="https://static.igem.wiki/teams/4509/wiki/process.jpg" style="width: 100%;"/>
    </a>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width:100%">
        <img class="card-img-top" src="https://static.igem.wiki/teams/4509/wiki/banners/bioreactor.jpeg" width="100%" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Bioreactor</h4>
          <p class="card-text">
            The goal of our project is to bio precipitate the noxious cadmium ions present in industrial effluents employing our product, an engineered E. coli strain one which provides a strong biofilm medium via curli protein and expresses the acid phosphatase enzyme. 
          </p>
          <a href="{{ url_for('pages', page='bioreactor') }}" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width:100%">
        <img class="card-img-top" src="https://static.igem.wiki/teams/4509/wiki/banners/modelling.jpeg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Modelling</h4>
          <p class="card-text">
            The crucial steps in our project include biofilm attachment, production of recombinant proteins and designing the reactor. In order to optimise the vital elements in our project, we created and instigated modelling. <br><br>
          </p>
          <a href="{{ url_for('pages', page='modelling') }}" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width:100%">
        <img class="card-img-top" src="https://static.igem.wiki/teams/4509/wiki/banners/communication.jpeg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Education and Communication</h4>
          <p class="card-text">
            We had the opportunity to conduct outreach programs and connect with various people. The purpose of our outreach programs was to raise general awareness about the hazardous effects that arise from exposure to heavy metals. <br><br>
          </p>
          <a href="{{ url_for('pages', page='communication') }}" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
