{% extends "layout.html" %}
  
{% block title %}Model{% endblock %}
{% block lead %}
{% endblock %}
{% block bnrurl %}https://static.igem.wiki/teams/4509/wiki/awards/model-awards.jpeg
{% endblock %}

{% block page_content %}

<p>
  We are mathematically modelling biofilm integrity with a focus on its detachment phase to prevent run off of engineered bacteria. This is the initial stage of a model required to identify when the biofilm present in the biocarriers need replacement. We are also creating an ODE model for the gene expression using parameters such as transcription rate and translation rate. Results from this will help us further characterise our engineered bacteria.To indicate the binding efficiency of the fusion protein (cell surface tag + enzyme) we have used iTASSER. We have also determined the model confidence of proteins using AlphaFold software. Both of these computational modelings help us determine whether our construct is viable or needs further modification. To prove that there is no difference in the active sites of native aphA and OmpA-aphA, we have used the align function in Pymol and observed perfect superimposition.
</p>
<p style="text-align: center;">
  To check out our project modelling <a href="{{ url_for('pages', page='modelling') }}">click here!</a>
</p>

{% endblock %}
