{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block bnrurl %}https://static.igem.wiki/teams/4509/wiki/banners/notebook.jpeg{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <span class="h3">March</span>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar21.png"> <p class="text-center">Introduction to iGEM</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar23.png"> <p class="text-center">Team recruitment began</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar25.png"> <p class="text-center">Interviews were conducted for students who showed interest in joining iGEM.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar30.png"> <p class="text-center">The whole iGEM team was finalised.</p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span class="h3">April</span>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar1.png"> <p class="text-center">First official offline meet-up was held.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar4.png"> <p class="text-center">Lectures from faculties on iGEM protocols </p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar6.png"> <p class="text-center">1st brainstorming session</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar8.png"> <p class="text-center">Literature review was done</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar9.png"> <p class="text-center">Had a 1st online meet-up with the seniors for getting to know about iGEM and their experience.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar12.png"> <p class="text-center">Opened the iGEM lab and had the stock check done.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar15.png"> <p class="text-center">Brainstorming session.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar16.png"> <p class="text-center">Literature review was done</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar20.png"> <p class="text-center">Official group picture was taken.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar22.png"> <p class="text-center">Fumigation of lab done.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar25.png"> <p class="text-center">1st lab discussion.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar28.png"> <p class="text-center">Literature review was done.</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar30.png"> <p class="text-center">Stock check</p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <span class="h3">May</span>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar3.png"> <p class="text-center">Brainstorming session</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar6.png"> <p class="text-center">Troubleshoots</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar10.png"> <p class="text-center">Literature review</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar12.png"> <p class="text-center">Advice from investigators</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar14.png"> <p class="text-center">Discussion with instructors </p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar18.png"> <p class="text-center">Stock check</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar20.png"> <p class="text-center">Safety Check</p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour#collapseFour">
        <span class="h3">June</span>
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar9.png"> <p class="text-center">Registration of the students into the iGEM REC Chennai Team</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar11.png"> <p class="text-center">Accepted as member of REC-CHENNAI iGEM team </p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar18.png"> <p class="text-center">Arrival of E.coli Alpha strain. <br> Online google meet for division of works among the team members.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar19.png"> <p class="text-center">Grant submission</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar23.png"> <p class="text-center">Subculture of the alpha strain. <br> Safety forms submitted.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar24.png"> <p class="text-center">iGEM kit received</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar25.png"> <p class="text-center">iGEM kit opened</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar28.png"> <p class="text-center">Subculture done.</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar29.png"> <p class="text-center">Submitted safety and security grant.</p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <span class="h3">July</span>
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar1.png"> <p class="text-center">Subculture, online meet for team discussion.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar5.png"> <p class="text-center">Subculture and testing viability of mother culture and discussion about the biochemical assay.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar8.png"> <p class="text-center">Online meet.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar9.png"> <p class="text-center">Subculture and fumigation of lab.</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar12.png"> <p class="text-center">Offline meetup for work discussion</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar13.png"> <p class="text-center">Subculture done</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar14.png"> <p class="text-center">DH5 alpha test and reactor building discussions.</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar16.png"> <p class="text-center">Subculture and confirmation tests</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar21.png"> <p class="text-center">Online meet discussion for AIIMS</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar24.png"> <p class="text-center">AIIMS presentation</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar26.png"> <p class="text-center">Collecting K12 and DH5 alpha strain from IITM</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar27.png"> <p class="text-center">Madras University, Dr. Anand meet</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar29.png"> <p class="text-center">SBOA HP, Waterloo online meet</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar30.png"> <p class="text-center">Subculture and stock check</p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        <span class="h3">August</span>
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar3.png"> <p class="text-center">Online meet to discuss for sponsorship possiblities & college level event</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar4.png"> <p class="text-center">Meet in college with Hari Anna and Saravanan sir. Online meet with Madlyn Thompson</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar5.png"> <p class="text-center">Night stay for lab work: Biofilm assay</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar6.png"> <p class="text-center">Sacred heart School HP</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar8.png"> <p class="text-center">Rehersal for game launch program</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar9.png"> <p class="text-center">CURCOLI game launch and subculture</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar12.png"> <p class="text-center">Sponsorship meet with Textan MD</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar14.png"> <p class="text-center">Online meet with Vijay Bhoopalan</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar17.png"> <p class="text-center">Bhavans HP</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar20.png"> <p class="text-center">Subculture and Biofilm new protocol attempt</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar22.png"> <p class="text-center">Successfully biofilms formed</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar23.png"> <p class="text-center">Discussion for beach HP and subculture</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar25.png"> <p class="text-center">Kalpakkam Scientist meet with Dr. Venkat Nancharaiah and Dr. Kiran</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar27.png"> <p class="text-center">Subculture</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar28.png"> <p class="text-center">Edward Elliots Beach HP</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar29.png"> <p class="text-center">Meet with iGEM-Munich</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar30.png"> <p class="text-center">Subculture and stock check</p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        <span class="h3">September</span>
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar2.png"> <p class="text-center">Promotion video uploaded</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar6.png"> <p class="text-center">Meet with Shi from bioscience </p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar7.png"> <p class="text-center">Placed order in Twist Bioscience</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar9.png"> <p class="text-center">Night stay for Transformation and subculture</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar10.png"> <p class="text-center">Primers synthesis order</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar15.png"> <p class="text-center">Final Safety Form submitted</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar18.png"> <p class="text-center">Online meet with Advisors</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar19.png"> <p class="text-center">Meet with IIT Delhi and subculture</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar20.png"> <p class="text-center">Received primers</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar21.png"> <p class="text-center">Night stay for 2nd attempt for transformation</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar24.png"> <p class="text-center">Meet with Deepak</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar26.png"> <p class="text-center">Received parts from Twist bioscience and subculture</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar28.png"> <p class="text-center">Lab Activity: PCR and analysis of plasmid</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar29.png"> <p class="text-center">Lab Activity: Restriction Digestion, Ligation and Plasmid mini pre</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar30.png"> <p class="text-center">Lab Activity: Transformation</p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        <span class="h3">October</span>
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar1.png"> <p class="text-center">Lab Activity: Isolation of Colonies and subculture</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar3.png"> <p class="text-center">Reactor setup</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar4.png"> <p class="text-center">Biofilm assay</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar5.png"> <p class="text-center">Characterization: CV, Congo red, Saffranin</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar6.png"> <p class="text-center">Characterization: Growth Curve and Cd toxicity assay and subculture</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar7.png"> <p class="text-center">Characterization: Samples given for AAS assay and SEM, MTT assay</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar8.png"> <p class="text-center">Characterization: MTT assay, pnpp assay</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar10.png"> <p class="text-center">Characterization: HRP assay</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar11.png"> <p class="text-center">Final wiki edition</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar12.png"> <p class="text-center">Final wiki edition, Wiki, Registry, Judging form freeze</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar13.png"> <p class="text-center">Team meet</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar14.png"> <p class="text-center">Poster and PPT Making</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar17.png"> <p class="text-center">Poster and PPT Making</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar19.png"> <p class="text-center">Presentation preparation</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar22.png"> <p class="text-center">Team meet </p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar26.png"> <p class="text-center">Grand Jamboree</p> </div>
          </div>
          <div class="row">
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar27.png"> <p class="text-center">Grand Jamboree</p> </div>
            <div class="col-md-3"><img class="img" style="width: 60%;" src="https://static.igem.wiki/teams/4509/wiki/notebook/calendar28.png"> <p class="text-center">Grand Jamboree</p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}