{% extends "layout.html" %}
  
{% block title %}Parts{% endblock %}
{% block lead %}This page contains information about the parts created by the team.{% endblock %}

{% block page_content %}

<h4 style=" margin-bottom: 1em;">Previous Basic Parts:</h4>

<div class="table-responsive-sm">
  <table class="table table-hover table-responsive-sm">
    <thead>
      <tr class="col-property">
        <th scope="col" class="make-it-bolder col-color" >BioBrick ID</th>
        <th scope="col" class="make-it-bolder col-color">Name</th>
        <th scope="col" class="make-it-bolder col-color">Type</th>
        <th scope="col" class="make-it-bolder col-color">Length</th>
        <th scope="col" class="make-it-bolder col-color">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="make-it-normal"><a href = "http://parts.igem.org/Part:BBa_J23100" target="_blank">BBa_J23100</a></th>
        <td class="make-it-normal">Constitutive Promoter</td>
        <td class="make-it-normal">Regulatory</td>
        <td class = "text-nowrap make-it-normal">35 bp</td>
        <td class="px-4 make-it-normal">DNA sequence that can initiate transcription of the downstream DNA sequence</td>
      </tr>
      <tr>
        <th scope="row" class="make-it-normal"><a href="http://parts.igem.org/Part:BBa_J23118" target="_blank">BBa_J23118</a></th>
        <td class="make-it-normal">Constitutive Promoter</td>
        <td class="make-it-normal">Regulatory</td>
        <td class="make-it-normal">35 bp</td>
        <td class="px-4 make-it-normal">DNA sequence that can recruit transcriptional machinery and lead to transcription of the downstream DNA sequence</td>
      </tr>
      <tr>
        <th scope="row"><a href="http://parts.igem.org/Part:BBa_K896008" target="_blank">BBa_K896008</a></th>
        <td>zinTp (Cd2+ sensing promoter)</td>
        <td>Regulatory</td>
        <td>81 bp</td>
        <td class="px-4">The metal sensing promoter expresses the downstream gene only  in the presence of cadmium ions.</td>
      </tr>
    </tbody>
  </table>
  </div>


{% endblock %}
