{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h2>No breach of safety is the approach iGEM REC CHENNAI Team priorities.</h2> <hr>
      <p>Our project focuses on the bioremediation of heavy metals present in effluents by genetically
        engineering E.coli. The strain that we have selected is non pathogenic and does not cause any
        type of threat to human beings and animals. All safety norms were followed strictly when the
        strain was being bio- engineered. Our team ensured that there was no type of exposure or any
        type of accidental release. All our procedures were performed in a contained and safe area
        within the lab.Our wet lab team followed safety protocols to our fullest knowledge and were
        always kept away from hazardous substances. All types of wastes were differentiated and the
        bio-waste were disposed of in a safe and proper way.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h2>Biosafety training</h2>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <center> <img class="img" style="width: 80%;" src="https://static.igem.wiki/teams/4509/wiki/safety2.jpeg"> </center>
        <br>
      </div>
      <div class="col-md-9">
        <p>Prior to the beginning of our experiment, our entire team had taken up safety training and were
          certified in general lab safety and biochemical safety. Strict measures were taken up by the
          entire team to get familiarized with lab safety protocols and all of us are certified.The team had
          also taken part in watching biosafety laboratory videos and our primary investigators had
          conducted a safety quiz before the wet lab work had begun.</p>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>COVID Protocols</h2>
    <hr>
    <p>We had ensured that precautionary measures against COVID-19 were taken. The entire team
      involved were extremely mindful about wearing masks and gloves. Regular sterilisation of
      surfaces and objects were ensured. Proper clearance and removal of all the disposables was
      taken care of with the highest regard for safety.</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h2>Biosafety procedures in CURLIM</h2> <hr>
      <p>The E.coli K12-MG1655 strain of the E.coli strain is non-pathogenic and harmless in nature. The
        organism we have chosen falls under Biosafety level 1.
        All of our experiments were conducted under the guidance and supervision of
        Dr.V.Gayathri(Primary investigator), Dr. R.Jayasree(Secondary investigator) and
        Ms.K.S.Shreenidhi (instructor), who are familiarized and constantly work with the procedures
        that we have incorporated in our project. We are extremely grateful for their constant guidance
        and assistance. 
        <br><br>
        Since we are working in a BSL-1 lab, clear cut instructions were laid out that enforced all our
        team members to ensure proper clothing(lab coats,masks,gloves,hair caps)and closed toe
        shoes were always worn when working in the lab. Regular fumigation of the lab was done(once
        in 3 weeks). Under no circumstances were food and drinks allowed in the lab.
        <br>
        <div class="row">
          <div class="col-md-9">
            <br>
            Most of the components used in our project were non-hazardous and safe, the only exceptions
        were the usage of ethidium bromide that is used during gel electrophoresis. This chemical is
        toxic due to its carcinogenic properties. This intercalating agent was always handled with gloves
        and was stored in a safe area. The pipette tips and the gel utilized were carefully discarded after 
        use along with the gloves that were worn. Our heavy metal of choice is cadmium, which is
        considered toxic for human beings and the environment. The Cadmium sample used for proof of concept is a crystalline compound used for lab-scale precipitation of Cd from the artificial effluent sample. Cadmium chloride is carcinogenic and
        mutagenic reagent by nature and is extremely toxic towards the environment. This agent was
        stored in a cool, well-ventilated area that is away from rays of the sun and was stored away
        from fire hazards and other chemicals. While using Cadmium chloride, our team ensured the
        highest levels of safety protocols. Since this is a chemical of very high concern, our team was
        extremely vigilant by wearing lab coats, gloves and goggles. Cadmium chloride was used only
        in its designated area and all the pipettes and other instruments kept in this area were only used
        under proper safety rules.
          </div> 
          <div class="col-md-3">
            <br>
            <center> <img class="img" style="width: 80%;" src="https://static.igem.wiki/teams/4509/wiki/safety1.jpeg"> </center>
          </div>
        </div>
        <br>
        A Biosafety cabinet and laminar air flow was used for processes involving transformation. All
        substances and glassware were sterilized by autoclave before being used for experimentational
        purposes.
        <br><br>
        All biological wastes were sent to designated university waste disposal services.
        Important safety features such as fire extinguishers, waste disposal units, first-aid kits and a
        health Center always ready to help us in case of emergencies, were available 24/7 to us. Our
        team ensured that we always have a lab technician present to supervise our work.
        We are extremely thankful to our lab technicians who assisted and helped us while we were
        performing our experiments.</p>
    </div>
  </div>
</div>



{% endblock %}
