{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/secondary-principal-investigator.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Dr. Jayasree R.</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Principal Investigator</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/primary-principal-investigator.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Dr. Gayathri V.</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Principal Investigator</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/instructor.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Ms. Shreenidhi K. S.</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Instructor</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/advisor-2.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Dr. Duraimurugan N.</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Advisor</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/advisor.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">[Place Holder]</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">[Place Holder]</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/vishal-amith-k.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal Amith Kannan</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/vishal-amith-kannan-2434b4226
              "><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="vishal.amith@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/marie-jyotsna-jawahar.jpg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Marie Jyotsna Jawahar</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/marie-jyotsna-jawahar-118858213"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="marie.jyotsna.j@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/nethra-l.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Nethra L.</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/nethra-l-46b5531a6
              "><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="nethralenin8@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/vibha-murali.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vibha Murali</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/vibha-murali-7149a924a"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="vibhaclara@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/rhea-harry-william.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Rhea Harry William</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/rhea-h-35446621a"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="rhea.h.william@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/anukavitha-a.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Anukavitha A.</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/a-anukavitha-86b2b024b"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="anukavitha19@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/griddaluru-vineetha-naidu.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Griddaluru Vineetha Naidu</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/vineetha-naidu-454a3a1b2"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="v10400809@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/parinitha-k.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Parinitha K.</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/pontiana-ritika-c.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Pontiana Ritika C.</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/pontianaritika"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="pontianaritika.c@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/avendhika-raja.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Avendhika Raja</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/avendhika-raja-2b2b4645"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="r.avendhika@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/abitha-k-v.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Abitha K. V.</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/abhitha-k-v-a90393248"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="abhihp02@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/mohammed-jassim.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Mohammed Jassim</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/mohamed-aslam.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Mohamed Aslam</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/thuhin-khanna-r.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Thuhin Khanna R.</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/thuhin-khanna-r-1081b1182/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="thuhinkhanna01@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://github.com/thuhinkhanna"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/suraj-n.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Suraj N.</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;">Student Member</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://www.linkedin.com/in/suraj-n-l/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
             <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div> 
              <!-- Add this alone -->
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="https://github.com/suraj6501"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}