{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/primary-principal-investigator.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/secondary-principal-investigator.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/instructor.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/advisor-2.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/advisor.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/vishal-amith-k.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/marie-jyotsna-jawahar.jpg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/nethra-l.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/vibha-murali.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/rhea-harry-william.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/anukavitha-a.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/griddaluru-vineetha-naidu.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/parinitha-k.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/pontiana-ritika-c.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/avendhika-raja.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/abitha-k-v.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/mohammed-jassim.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/mohamed-aslam.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/thuhin-khanna-r.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-blog" style="background-color: #9f345d;">
        <div class="card-image">
          <a href="#"> <img class="img" src="https://static.igem.wiki/teams/4509/wiki/teampage/suraj-n.jpeg"></a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h4 style="font-size: 100%; color:white;">Vishal</h4>
          <br>
          <p class="card-description" style="font-size: 100%; color: white ;"> FINAL YEAR BIO TECH</p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></div>
            <div class="col-1"><a style="color: white; padding-right: min(50px, 5%);" href="#"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}