@font-face {
    font-family: 'Montserrat';
    src: url("https://static.igem.wiki/teams/4509/wiki/fonts/montserrat-regular.ttf");
}
@font-face {
    font-family: 'MontserratBoldItalic';
    src: url("https://static.igem.wiki/teams/4509/wiki/fonts/montserrat-bolditalic.ttf");
}
@font-face{
    font-family: 'MontserratItalic';
    src: url("https://static.igem.wiki/teams/4509/wiki/fonts/montserrat-italic.ttf");
}
@font-face{
    font-family: 'LucidaSans';
    src: url("https://static.igem.wiki/teams/4509/wiki/fonts/lsans.ttf");
}
@font-face{
    font-family: 'LucidaUnicode';
    src: url("https://static.igem.wiki/teams/4509/wiki/fonts/l-10646.ttf");
}

.make-it-hover-green:hover{
    color: #ec6466;
    font-size: 19px;
}
h4{
    margin-top:2em;
}

/* .pagination-navbar{
    color:#a14a68;
} */

body {
    padding-top: 40px; 
    font-size: large;
    font-family: 'LucidaUnicode';
    background-color: #fde9ee;
    background-image: url('https://static.igem.wiki/teams/4509/wiki/banners/wiki-bg2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
p{
    font-size:large;
}
.left-aligned { margin-left: auto; }

.skltitle{
    font-family: LucidaUnicode;
    color: #422b36;
}
.sklbody{
    font-family: LucidaUnicode;
    font-size: large;
    color: black;
    text-align: justify; 

    text-justify: auto; 
}
.nav-text-color{
    color: white;
}
.nav-text-color:hover{
    font-size: 19px;
    color: #ec6466; 
    text-decoration: none;
}

.custom-toggler.navbar-toggler {
    color: #fde9ee;
    border-color: #90ee90;
}


.generic-hamburger {
    outline: none;
    background-color: transparent;
    width: 2em;
    height: 1.3em;
    position: relative;
    border: none;
    font-size: 17px;
}

.generic-hamburger__checkbox:checked ~ .generic-hamburger__bar:nth-of-type(1),
    .generic-hamburger__checkbox:checked ~ .generic-hamburger__bar:nth-of-type(3) {
    transform: translateY(-50%);
    top: 50%;
}

.generic-hamburger__checkbox:checked ~ .generic-hamburger__bar:nth-of-type(1) {
    transform: rotate(45deg);
}

.generic-hamburger__checkbox:checked ~ .generic-hamburger__bar:nth-of-type(2) {
    opacity: 0;
}

.generic-hamburger__checkbox:checked ~ .generic-hamburger__bar:nth-of-type(3) {
    transform: rotate(-45deg);
}

.generic-hamburger__bar {
    background-color: #ffffff;
    width: 100%;
    left: 0;
    transform-origin: center;
    height: 7px;
    position: absolute;
    border: 1px solid #a14a68;
    border-radius: 7px;
    transition: all .3s;
}



.generic-hamburger__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.generic-hamburger__bar:nth-of-type(1) {
    top: 0;
}

.generic-hamburger__bar:nth-of-type(2) {
    top: calc(50% - (7px / 2));
}

.generic-hamburger__bar:nth-of-type(3) {
    top: calc(100% - 7px);
}

.make-it-aligned{
    padding-right: 1em;

}

/* .banner-img{
    position: relative;
    z-index: 700;
} */

.wrapper{
    position: relative;
}

/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

/* footer */
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }
